@use '../../variables';

.vacancy-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.5em;
  margin-top: .5em;
  font-family: 'SF-Bold';
  @media (max-width: 768px) { font-size: 1em }

  #open-profile-sidebar{
    width: 30px;
    height: 30px;
    @media (max-width: 768px) { width: 20px; height: 20px }
    transition: all .2s ease;
    cursor: pointer;
    &:hover {
      color: variables.$yellow
    }
  }
}

.new-vacancy {
  strong {
    min-width: 70px;
    text-align: left;
    color: #8b8b8b
  }
  h2 {
    font-family: 'SF-Bold';
    font-size: 1.3em;
    margin-bottom: 1.3em;
  }
  textarea {
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    margin-left: 15px;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;

  }
  input {
    border: 1px solid #c3c3c3;
    flex: 1;
    border-radius: 10px;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .edit-actions {
    margin-top: 2.5em;
  }
}

.vacancy-list {
  padding: 1rem;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  @media (max-width: 768px) {grid-template-columns: 1fr;};
  strong {
    min-width: 70px;
    text-align: left;
    color: #8b8b8b
  }
  textarea {
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    margin-left: 15px;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;

  }
  input {
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .edit-icon {
    color: variables.$green;
    width: 20px;
    height: 20px;
    &:hover {
      color: #2ecc71

    }
  }
}

.vacancy-info {
  margin-left: 25px;
  text-align: left;

}

.vacancy-card {
  background: #fff;
  position: relative;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.vacancy-field {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0.4rem 0;

  button {
    background: none;
    border: none;
    cursor: pointer;
    color: #0070f3;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

  }

  .vacancy-select {
    margin-left: 15px;
  }

  .up-down-icon {
    color: variables.$green;
  }

  .up-down-icon.flash-error {
    animation: flashRed 0.6s ease;
  }
  
  .up-down-buttons {
    padding: 2px;
    margin-left: 10px;

    button {
      padding: 0;
    }
  }
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: inherit;
  z-index: 10;
}



.edit-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
    margin-top: 1rem;

    button {
      padding: 0.6rem 1.2rem;
      font-size: 0.95rem;
      font-weight: 500;
      border-radius: 6px;
      cursor: pointer;
      border: none;
      transition: all 0.2s;
    }
    .save-btn {
      background: linear-gradient(325deg, #09531a, #15a552);
      border: none;
      transition: all 0.7s ease;
      &:hover {
        background: linear-gradient(325deg, #23fb54, #15a552);
      }
    }

    .cancel-btn {
      background-color: #f2f2f2;
      color: #333;

      &:hover {
        background-color: #e0e0e0;
      }
    }
  }

.up-down-wrapper {
    display: flex;
    gap: 30px
}

.delete-vacancy {
  margin-left: auto;
  cursor: pointer;
  padding-left: 5px;
  position: relative;

}

.delete-vacancy-icon {
  width: 20px;
  height: 20px;
  color: rgb(207 0 0);
  
  
  &:hover {
    color: red
  }
}



.vacancy-field.flash-error {
  animation: flashRed 0.6s ease;
}

.input-date {
  @media (max-width: 480px) { max-width: 130px;}
}

@keyframes flashRed {
  0% { color: transparent; }
  25% { color: rgba(255, 0, 0, 0.548); }
  50% { color: transparent; }
  75% { color: rgba(255, 0, 0, 0.5); }
  100% { color: transparent; }
}
