@import "../fonts/fonts";


$primary-color: #3498db;

body {
  font-family: "SF-Regular", Arial, sans-serif;
  background: #f8f9fa;
  color: $primary-color;
}

.button {
  padding: 10px 20px;
  background: $primary-color;
  color: white;
  border-radius: 6px;
  &:hover {
    background: darken($primary-color, 10%);
  }
}
