@use '../../variables';

.custom-select {
  position: relative;
  height: 100%;

  .select-btn {
    width: 100%;
    padding: 0.5rem 1rem;
    @media (max-width: 768px) { padding: 0.2rem 1rem}
    background: variables.$green;
    border: 1px solid #d1d1d6;
    border-radius: 12px;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.95rem;
    color: #fff;
    transition: all 0.2s;
    height: 100%;
    
    &:hover {
      border-color: #a1a1a6;
    }

    .arrow {
      display: flex;
      transition: transform 0.3s ease; // animação
    }

    .arrow.open {
      transform: rotate(180deg); // gira quando abre
    }
  }

  .select-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0;
    top: 110%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #d1d1d6;
    border-radius: 12px;
    margin-top: 0.25rem;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 10;

    li {
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: #f0f0f5;
      }

      &.selected {
        font-weight: 600;
        background: variables.$green;
      }
    }
  }
}
