
@font-face {
  font-family: "SF-Black";
  src: url("./SF-Pro-Display-Black.otf") format("opentype");
  font-weight: 700; 
  font-style: normal;
}

@font-face {
  font-family: "SF-Bold";
  src: url("./SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700; 
  font-style: normal;
}
@font-face {
  font-family: "SF-Regular";
  src: url("./SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 700; 
  font-style: normal;
}
