@use "../../variables";

.header {
  background-color: variables.$green;
 
  padding: variables.$padding-desktop;
  @media (max-width: 480px) { padding: variables.$padding-mobile; }
  padding-top: 1rem;
  padding-bottom: 1rem;
  
  .header-items-wrapper {
    display: flex;
    justify-content: space-between;
    
    div {
      display: flex
    }
  }
  .mobile-login-button {
    height: 35px;
    width: 35px;
    color: variables.$yellow;
    transition: all .1s ease-out;
    &:hover {
      color: variables.$yellow-hover;
      transform: scale(1.1);
    }
  }
  button {
    background-color: transparent;
    padding: 7px;
    padding-right: 0;
    cursor: pointer;
  }
  img {
    margin-right: 20px;
    height: 60px; 
    width: auto;
    @media (max-width: 480px) { height: 50px; width: auto }
  }
  h1 {
    font-size: 2em;
    font-family: 'SF-Black';
    align-self: center;
    color: white;
    @media (max-width: 768px) { font-size: 1.7em; }
    @media (max-width: 480px) { font-size: 1.2em; }
  }
}