$primary-color: #007bff;
$yellow: #fad600;
$yellow-hover: #ff9b00;
$green: #09531a;
$lightGray: #bfbebb;
$textLight: #898989;
$font-stack: Helvetica, sans-serif;
$spacing-unit: 16px;
$padding-mobile: 0rem 2rem;
$padding-desktop: 0rem 2rem